@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1536px;
}

.top-bar {
  background-size: cover;
  height: 5.5rem;
  background-color: black;
  padding-inline: 1.875rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.top-bar > .top-bar-menu-group {
  display: flex;
  gap: 0.8375rem;
  padding-left: 0;
  margin-block: 1.2rem;
  margin-inline: 3.1953rem;
  list-style: none;
  font-size: 1.5rem;
}

.logo-box {
  background-color: #fff;
  width: 2.125rem;
  height: 2.125rem;
  border: #fff;
  border-radius: 10px;
}

.w-line-box {
  width: 15.1rem;
  height: 3rem;
  background-color: #000;
  border: 1.5px solid #fff;
  padding-inline: 1.625rem;
  border-radius: 7px;
}

.purple-box {
  width: 8.1rem;
  height: 3rem;
  background-color: #4c5fd5;
  padding-inline: 1.625rem;
  border: 1px solid #4c5fd5;
  border-radius: 7px;
}

.search-bar {
  height: 24.7875rem;
  background-color: rgb(218, 219, 241);
  padding: 5rem 1.875rem 6.875rem 5rem;
}

.title {
  text-align: center;
  font-size: 5rem;
  margin-inline: 9.45rem;
  margin-bottom: 1rem;
}

.search-bar > .search {
  width: 45rem;
  height: 4rem;
  box-shadow: 0px 1px 10px #8b8b8b;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #000000;
  border-radius: 7px;
  color: #8b8b8b;
  font-size: 20px;
  margin-inline: 9.45rem;
  margin-bottom: 1rem;
  margin: 0 auto;
}
.container-icon-text-main {
  background-color: #fff;
  padding-inline: 30px;
  height: 55.125rem;
}

.black-box {
  height: 25.125rem;
  background-color: black;
  padding: 0px 30px 60px 30px;
  color: #fff;
}

.black-box > .black-box-text {
  display: flex;
  gap: 11rem;
  padding-block: 3rem 1rem;
  padding-inline: 0px;
  margin-block: 0rem;
  margin-inline: 3.1953rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.black-box-text-2 {
  list-style: none;
  font-size: 1rem;
  padding-left: 0;
  margin-block: 1.2rem;
}

.black-box-text-3 {
  list-style: none;
  font-size: 1rem;
  padding-left: 3.1rem;
  margin-bottom: 3.2rem;
}

.black-box-text-4 {
  list-style: none;
  font-size: 1rem;
  padding-left: 0.05rem;
}

.logo-box-bottom {
  list-style: none;
  font-size: 20px;
  margin: 0rem;
  padding-block: 0rem;
  padding-left: 13.25rem;
}

.black-box > .black-box-text-group {
  display: flex;
  gap: 190px;
  padding-left: 0;
  margin-block: 0rem;
  margin-inline: 3.1953rem;
  list-style: none;
  font-size: 1.5rem;
}

.container-icon-text-main-list {
  list-style: none;

  display: flex;
  gap: 3rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 9rem 0rem;
}

.container-icon-text-main-list-box {
  width: 39.2097rem;
  height: 205.95px;
  background-color: #fff;
  list-style: none;
  font-size: 1.5rem;
  padding-left: 6.7523rem;
  padding-right: 24px;
}

.container-icon-text-main-list-box > .bold-text {
  font-weight: 700;
  padding-block: 3rem 1rem;
}

.container-icon-text-main-list-box > .middle-text {
  padding-bottom: 1.25rem;
}

.container-icon-text-main-list-box > .blue-text {
  color: #4c5fd5;
  font-size: 1.25rem;
}
