@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: oklch(1 0 0);
  font-size: 0.875rem;
  line-height: 150%;
}

.navigation {
  background-color: #f6f6eb;
  padding-block: 16px;
  padding-inline: 16px;
  color: #381fd1;
  display: flex;
  justify-content: space-evenly;
  font-weight: 900;
}
.navigation .p-box {
  background-color: #381fd1;
  padding-inline: 8px;
  height: 32px;
  border: #381fd1 0.1rem;
  border-radius: 0.375rem;
  color: #f6f6eb;
  align-items: center;
}

.p-box > .p-box-t {
  margin: 0;
  padding: 5px;
  align-items: center;
}

.navigation > .navigation__menu-group {
  padding-left: 0px;
  margin-block: 0px;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navigation__menu-group > li {
  padding-inline: 8px;
  border: #f6f6eb 0.1rem;
}

.top-bar--c {
  width: 2rem;
  height: 2rem;
  background-color: #381fd1;
  border: #381fd1 1.6px;
  border-radius: 30px;
}

.container {
  display: grid;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-template-columns: 12.5rem repeat(auto-fit, minmax(240px, 1fr));
  max-width: 80rem;
  padding: 0.75rem;
  background-color: oklch(0.5 0 0);
  margin-inline: auto;
}

.sidebar {
  grid-column: 1/span 1;
  grid-row: 1/-1;
  background-color: #fff;
  padding: 0.75rem;
}

.card-collection {
  row-gap: 1.5rem;
  display: grid;
  grid-column: 2/-1;
  grid-row: 1/-1;
  grid-template-columns: subgrid;
  grid-auto-rows: subgrid;
}

.title {
  grid-column: 1/-1;
}