@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0.875rem;
  line-height: 150%;
}

.navigation {
  background-color: #f6f6eb;
  padding-block: 16px;
  padding-inline: 16px;
  color: #381fd1;
  display: flex;
  justify-content: space-evenly;
  font-weight: 900;
}
.navigation .p-box {
  background-color: #381fd1;
  padding-inline: 8px;
  height: 32px;
  border: #381fd1 0.1rem;
  border-radius: 0.375rem;
  color: #f6f6eb;
  align-items: center;
}

.p-box > .p-box-t {
  margin: 0;
  padding: 5px;
  align-items: center;
}

.navigation > .navigation__menu-group {
  padding-left: 0px;
  margin-block: 0px;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navigation__menu-group > li {
  padding-inline: 8px;
  border: #f6f6eb 0.1rem;
}

.top-bar--c {
  width: 2rem;
  height: 2rem;
  background-color: #381fd1;
  border: #381fd1 1.6px;
  border-radius: 100px;
}

.container {
  display: grid;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-template-columns: 16rem repeat(auto-fit, minmax(254px, 1fr));
  max-width: 80rem;
  margin-top: 4rem;
  padding-inline: 2.5rem;
  margin-inline: auto;
}

.sidebar {
  grid-column: 1/span 1;
  grid-row: 1/-1;
  font-size: 1rem;
  color: #4b4b4e;
}
.sidebar__1 {
  margin-bottom: 0.875rem;
}
.sidebar__2 {
  width: 280px;
  height: 2.75rem;
  border: 0.1rem solid rgb(172, 172, 175);
  border-radius: 0.3125rem;
  padding-inline: 2.5rem 1rem;
  margin-bottom: 1rem;
}
.sidebar__3 {
  width: 280px;
  height: 59.2px;
  padding: 16px 0px 16px 20px;
}
.sidebar__3-1 {
  color: #381fd1;
}
.sidebar__3-2 {
  margin-bottom: 0.5rem;
}
.sidebar__flex {
  display: flex;
}

.sidebox {
  width: 17.5rem;
  height: 12.8rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: #f3f2fc;
  border: 0.1px solid #f3f2fc;
  border-radius: 8px;
}
.sidebox_1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0rem;
  color: #10284b;
}
.sidebox_2 {
  color: #10284b;
  margin-block: 0.5rem 1.5rem;
}
.sidebox_3 {
  width: 232px;
  height: 2.75rem;
  text-align: center;
  margin: 0px;
  padding: 6px 16px 6px 16px;
  color: #fff;
  background-color: #381fd1;
  border: 0.5px solid #381fd1;
  border-radius: 0.5rem;
}

.card-collection {
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  display: grid;
  grid-column: 2/-1;
  grid-row: 1/-1;
  grid-template-columns: 261px 261px 261px;
  grid-auto-rows: subgrid;
  margin-left: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(254px, 1fr));
}

.title {
  grid-column: 1/-1;
  font-size: 1.25rem;
  color: #10284b;
}
.title--st-t {
  margin: 0rem;
  font-size: 3rem;
  color: #10284b;
  font-weight: 900;
}
.title--st-subt {
  font-size: 1rem;
  font-weight: 700;
  color: #381fd1;
  line-height: 1rem;
}
.title--st-subt2 {
  margin-block: 0.5rem 0rem;
  line-height: 1.875rem;
}

.title > .title--st {
  list-style: none;
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
  align-items: center;
}

.section {
  margin-top: 6rem;
  background-color: #10284b;
  padding-inline: 1.5rem;
  width: auto;
  height: 45.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}

.grid {
  display: grid;
}
.grid__item {
  width: 15.875rem;
  height: 169.8px;
}
.grid__item-t-2 {
  margin: 0px 0px 8px 0px;
}
.grid__item-t {
  font-size: 14px;
  font-weight: 900;
  margin: 0px 0px 8px 0px;
}
.grid__item-m {
  margin: 0px 0px 8px 0px;
}
.grid--opt-2 {
  grid-auto-rows: 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 3rem;
  display: grid;
  grid-column: 2/-1;
  grid-row: 1/-1;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: 169.8px 169.8px;
  margin-top: 80px;
}

.bottomflex {
  display: flex;
  justify-content: space-between;
}

.bottom_icon {
  display: flex;
}
.bottom_icon-t {
  font-size: 1rem;
  color: #fedb63;
  font-weight: 700;
  margin-left: 30rem;
  margin-bottom: 0px;
}

.bottom_in_icon {
  display: flex;
}

.mini__icon {
  width: 2rem;
  height: 2rem;
}

.bottom_grid {
  display: grid;
  grid-auto-rows: 1fr;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  row-gap: 0.75rem;
  grid-column: 2/-1;
  grid-row: 1/-1;
  grid-template-columns: 32px 32px 32px 32px 32px;
  grid-template-rows: 32px;
}